.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30vw;
  margin: 2% auto;
  box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
  background-color: #d9d9d9;
  border-radius: 9px;
}

#form {
  display: flex;
  justify-content: center;
}

#form input {
  height: 3vh;
}

#form button {
  margin-left: 2%;
  border: none;
  border-radius: 10%;
  background-color: grey;
  color: white;
  cursor: pointer;
}

#list {
  list-style-type: none;
  padding: 0;
  width: 90%;
}

#list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  margin-bottom: 5%;
  background-color: white;
}

#list button {
  border: none;
  padding: 1% 1%;
  background-color: red;
  color: white;
  border-radius: 15%;
  cursor: pointer;
}

li.completed span {
  text-decoration: line-through;
  color: green;
}
